@import "layout/_main.scss";

#wrapper {
  width: 700px;
  margin: 0 auto;
  background-color: #fc1;
  box-shadow: 0px 5px #ddd;

  h1 {
    color: #ccc;
    background-color: #f1f1f1;

    &:hover {
      color: #f00;
    }
  }
}
