.header__profile {
    flex-grow: 2;
    flex-basis: 30px;
    color: #262626;

    .profile__account {
    	display: flex;
	    align-items: center;
		margin-bottom: 20px;

		.account__name {
			flex-shrink: 1;
			font-size: 3.4rem;
			line-height: 40px;
		    font-weight: 300;
		    
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    overflow: hidden;
		}

		.account__follow-state-icon {
			display: block;
    		width: 18px;
    		height: 18px;
		    margin-left: 7px;

		    background-position: -219px -115px;
	        background-image: url("//instagramstatic-a.akamaihd.net/h1/sprites/core/d75b42.png");
    		background-repeat: no-repeat;
		}

		.account__button_wrapper {
			margin-left: 20px;
		    flex-shrink: 0;
		}
    }


    @include sp {
		max-width: calc(100% - 105px);

		.profile__account {
			margin-bottom: 12px;

			.account__name {    			
				font-size: 2.1rem;
				line-height: 1;
			    padding-bottom: 5px;
			}

			.account__follow-state-icon {
				margin-top: -5px;
			    padding-right: 2px;
			}
		}    	
	}
}