$pc_margin: 28px;
$sp_margin: 3px;

.image-list__content {
	display: flex;
	justify-content: flex-start;
	width: 33.3%;
	box-sizing: border-box;
	margin-bottom: $pc_margin;
	padding-right: $pc_margin;


	.image-link {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;


		.image-link__img {
	      position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		}


		&::before {
			content: "";
			display: block;
			padding-top: calc(100% - #{$pc_margin});
		}
	}

	&:nth-child(3n){
		padding-right: 0px;
	}

	@include sp {
		width: 50%;
		margin-bottom: $sp_margin;
		padding-right: $sp_margin;

		.image-link {
			&::before {
				padding-top: calc(100% - #{$sp_margin});
			}
		}

		&:nth-child(2n){
			padding-right: 0px;
		}
		&:nth-child(3n){
			padding-right: 3px;
		}
		&:nth-child(6n){
			padding-right: 0px;
		}

	}
}
