$pc_margin: 28px;
$sp_margin: 3px;

.image-list__content {
	display: flex;
	justify-content: flex-start;
	width: calc(33.3% - #{$pc_margin});
	box-sizing: border-box;
	margin-bottom: $pc_margin;
	margin-right: $pc_margin;


	.image-link {
		position: relative;
		display: block;
		width: 100%;
		padding-top: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		
	}

	@include sp {
		width: calc(50% - #{$sp_margin});
		margin-bottom: $sp_margin;
		margin-right: $sp_margin;
	}
}
