$widthPC: 1024px;
$widthTab: 735px;
$widthSP: 568px;

@mixin tablet {
	@media (min-width:$widthTab) and (max-width:$widthPC) {
		@content;
	}
}

@mixin sp {
	@media (max-width:$widthTab) {
		@content;
	}
}